# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

v*/run-data/

v1_18_2/src/generated/resources/.cache/
v1_19_2/src/generated/resources/.cache/
v1_20_1/src/generated/resources/.cache/
v1_21_1/src/generated/resources/.cache/

v1_21_1/runs/

run-server_1_21/
run-server_1_18/
run-server_1_19/
run-server_1_20/
