# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt

v1_18_2/run-data/
v1_20_1/run-data/

v1_18_2/src/generated/resources/.cache/
v1_20_1/src/generated/resources/.cache/
