* {
    padding: 0em;
    margin: 0em;
    box-sizing: border-box;
}

html *
{
    font-family: sans-serif;
}

.name
{
    display: inline-block;
    font-family: "Monaco", monospace;
}

.outputElement
{
    font-family: "Monaco", monospace;
    padding-bottom: .6em;
}

input[type="radio"] {
    margin-right: .5em;
    display: inline-block;
}


hr {
  display: block;
  margin-top: .75em;
  margin-bottom: .75em;
  border-style: inset;
  border-width: 1px;
}

h2 {
    margin-bottom: .2em;
}

html,
body {
  height: 100vh;
}

.box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  padding: .75em;
}

.inner-box {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.box .row.header {
  flex: 0 1 auto;
}

.box .row.content {
  display: flex;
  flex-flow: column;
  overflow: auto;
  flex: 1 1 auto;
}

.box .row.footer {
  flex: 0 1 auto;
}

td {
    vertical-align: top;
    text-align: left;
}

.left {
    flex: 60%;
    height: 100%;
    padding-right: 1em;
}

.right {
    flex: 40%;
    height: 100%;
}

.left2 {
    flex: 50%;
    height: 100%;
    padding-right: .5em;
}

.right2 {
    flex: 50%;
    height: 100%;
    padding-left: .5em;
}

.semi-box {
    display: flex;
    flex-flow: column;
}

.outer {
  width:100%;
  display: flex;
  justify-content: center;
}

button {
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration: none;
}
